<h2>Adding a Country...</h2>
<form action='/journeys/<%= @journey[:id] %>/add_country' method="post">
  <% if @countries.empty? %>
    <div>    
      <label for="country_name">Which country will you set out from?
        <input name="country_name" value="<%= @country_name %>">
      </label>
    </div>
  <% else %>
    <div>    
      <label for="country_name">Which country would you like to add to your journey?
        <input name="country_name" value="<%= @country_name %>">
      </label>
    </div>
  <% end %>
  <button type="submit">Add country</button>
</form>