<h2>Adding a Location...</h2>
<form action='/journeys/<%= @journey[:id] %>/countries/<%= @country_visit[:id] %>/add_location' method="post">
  <div>    
    <label for="location_name">Where would you like to visit during your time in <%= @country_visit[:country_name] %>?
      <input name="location_name" value="<%= @location_name %>">
    </label>
  </div>
  <button type="submit">Add location</button>
</form>