<h1>Creating a new Journey...</h1>
<form action="/create_journey" method="post">
  <div> 
    <label for="journey_name">What will be the name of this journey?
      <input name="journey_name" value="<%= @journey_name %>">
    </label>
  </div>
  <button type="submit">Create New Journey</button>
</form>