<h1>Welcome to Travel Planner</h1>

<% if @journeys.size > 0 %>
  <h2>Journeys</h2>
  <ul>
    <% @journeys.each do |journey| %>
      <li><a href="/journeys/<%= journey[:id] %>"><%= journey[:name] %></a></li>
    <% end %>
  </ul>
  <a href="/create_journey">Create a new journey...</a>
<% else %>
  <p>It looks like you haven't got any journeys planned right now...</p>
  <p>Would you like to <a href="/create_journey">create a new one?</a></p>
<% end %>